.advantages {
	background-color: $color-ghost-white;
}

.advantages__wrapper {
	padding: 120px 163px 111px 163px;
}

.advantages__title {
	font-family: 'Bebas Neue';
	font-size: 49px;
	line-height: 49px;
	letter-spacing: 0.03em;
	color: $color-sapphire;
	text-align: center;
	margin: 0;
	margin-bottom: 58px;
}

.advantages__list {
	@include reset-list;
	display: grid;
	grid-template-areas:
		's mt p'
		'c mt e';
		grid-template-rows: auto;
		grid-template-columns: repeat(3, auto);

		grid-column-gap: 60px;
		grid-row-gap: 72px;
		align-content: center;
}

.advantages__item {
	display: flex;
	align-items: flex-start;
	max-width: 340px;
	position: relative;

	&--square {
		grid-area: s;
		padding-left: 26px;
		padding-bottom: 75px;
		border-bottom: 2px solid $color-crimson-transparent;
	}

	&--parking {
		grid-area: p;
		padding-bottom: 75px;
		border-bottom: 2px solid $color-crimson-transparent;
	}

	&--comfort {
		grid-area: c;
		padding-left: 21px;

		.advantages__count {
			margin-right: 29px;
		}
	}

	&--experience {
		grid-area: e;

		.advantages__count {
			margin-right: 33px;
		}
	}

	&--main-thing {
		max-width: 240px;
		max-height: 307px;
		flex-direction: column;
		align-items: center;
		grid-area: mt;
		margin-top: 10px;
		background-color: $color-resolution-blue;
		text-align: center;
		padding: 44px 34px 65px 34px;

		.advantages__count {
			margin: 0;
			color: $color-default-white;
		}

		.advantages__value {
			-webkit-text-fill-color: $color-default-white;
			font-weight: 700;
			font-size: 74px;
			line-height: 88px;
			margin: 0;
		}

		.advantages__type {
			font-weight: 700;
			font-size: 26px;
			line-height: 39px;
			color: $color-default-white;
			margin-bottom: 33px;
		}

		.advantages__data-text {
			color: $color-default-white;
		}
	}
}

.advantages__count {
	margin-right: 30px;
}

.advantages__value {
	font-weight: 700;
	font-size: 71px;
	line-height: 68px;
	background: linear-gradient(127.61deg, #D10A42 0%, #0041CA 45.58%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.advantages__data {
	color: $color-sapphire;
}

.advantages__type {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: $color-persian-blue;
	margin: 0;
}

.advantages__data-title {
	font-size: 22px;
	line-height: 33px;
	margin: 0;
	margin-bottom: 7px;
}

.advantages__data-text {
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	margin: 0;
}

@media (max-width: $desktop-width - 1px) {
	.advantages__wrapper {
		padding-top: 100px;
		padding-bottom: 90px;
	}

	.advantages__title {
		font-size: 42px;
		line-height: 42px;
		margin-bottom: 40px;
	}

	.advantages__list {
		grid-template-rows: repeat(3, auto);
		grid-template-columns: repeat(2, auto);
		grid-template-areas:
			's p'
			'mt mt'
			'c e';
		grid-row-gap: 40px;
		grid-column-gap: 50px;
		align-content: normal;
		justify-content: center;
	}

	.advantages__item {
		padding: 0;

		&--square,
		&--parking {
			border: none;
		}

		&--main-thing {
			width: calc(100% - 236px);
			max-width: 100%;
			min-height: 239px;
			margin: 0 118px;
			padding: 26px 135px 40px;

			.advantages__value {
				margin-right: 6px;
			}

			.advantages__type {
				font-size: 22px;
				line-height: 33px;
				margin-top: -8px;
				margin-bottom: 15px;
			}
		}
	}

	.advantages__count {
		margin-right: 29px;
	}

	.advantages__value {
		font-size: 58px;
		line-height: 58px;
	}

	.advantages__type {
		line-height: 14px;
	}

	.advantages__data-title {
		font-size: 20px;
		line-height: 30px;
	}
}

@media (max-width: $tablet-width - 1px) {
	.advantages__wrapper {
		padding-top: 70px;
	}

	.advantages__title {
		font-size: 32px;
		line-height: 32px;
		margin-bottom: 43px;
	}

	.advantages__list {
		grid-template-columns: 100%;
		grid-template-rows: repeat(5, auto);
		grid-template-areas:
		's'
		'p'
		'mt'
		'c'
		'e';
		grid-column-gap: 0;
		grid-row-gap: 39px;
		position: relative;
		width: 100vw;
		left: 50%;
		transform: translateX(-50%);
	}

	.advantages__item {
		flex-direction: column;
		align-items: center;
		max-width: 100%;

		&--square {
			padding: 0 72px;
		}

		&--main-thing {
			margin: 0;
			margin-top: 3px;
			width: 100%;
			padding: 31px 74px 0;

			.advantages__value {
				line-height: 84px;
			}

			.advantages__type {
				margin-bottom: 9px;
			}
		}

		&--parking {
			margin-top: -3px;
			padding: 0 47px;
		}

		&--comfort {
			padding: 2px 69px 0 68px;

			.advantages__type,
			.advantages__value {
				margin-left: 30px;
			}
		}

		&--experience {
			padding: 0 46px 0 47px;

			.advantages__type,
			.advantages__value {
				margin-left: 33px;
			}

			.advantages__type {
				margin-top: -5px;
			}
		}
	}

	.advantages__count {
		margin: 0;
		margin-bottom: 9px;
		text-align: center;
	}

	.advantages__data {
		text-align: center;
	}

	.advantages__data-title {
		margin-bottom: 2px;
	}
}