.contacts {
	width: 50%;
	background-color: $color-default-white;
}

.contacts__wrapper {
	padding: 61px 56px 64px 120px;

	h2 {
		font-family: 'Bebas Neue';
		font-size: 49px;
		line-height: 64px;
		letter-spacing: 0.03em;
		color: $color-sapphire;
		margin: 0;
		margin-bottom: 35px;
	}
}

.contacts__list {
	@include reset-list;
	margin-left: 4px;
	display: flex;
	flex-wrap: wrap;
	position: relative;

	&::before {
		content: '';
		width: 1px;
		height: 100%;
		background-color: $color-light-slate-grey;
		position: absolute;
		top: 0;
		left: 57.5%;
	}

	li {
		color: $color-sapphire;
		margin-bottom: 19px;

		&:nth-child(odd) {
			width: 57.92%;
			padding-right: 60px;
			// border-right: 1px solid $color-light-slate-grey;
		}

		&:nth-child(even) {
			width: calc(100% - 57.92%);
			padding-left: 60px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:nth-last-child(2) {
			margin-bottom: 0;
		}
	}

	h3 {
		font-size: 16px;
		line-height: 24px;
		margin: 0;
		margin-bottom: 2px;
	}

	p {
		
		@include contactsItem;
	}

	a {
		font-size: 14px;
		line-height: 21px;
		color: inherit;
		margin: 0;
		user-select: none;
		@include contactsItem;
	}
}

@media (max-width: $desktop-width - 1px) {
	.contacts {
		width: auto;
	}

	.contacts__wrapper {
		padding: 70px 118px 60px 88px;

		h2 {
			font-size: 42px;
			line-height: 42px;
			margin-bottom: 31px;
		}
	}

	.contacts__list {
		margin: 0;
		&::before {
			left: 56.4%;
			top: 50%;
			transform: translateY(-50%);
			height: calc(100% - 17px);
		}

		li {
			margin-bottom: 24px;

			&:nth-child(odd) {
				padding-right: 40px;
				width: 56.5%;
			}

			&:nth-child(even) {
				padding-left: 48px;
				width: calc(100% - 56.5%);
			}
		}

		h3 {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 4px;
		}
	}
}

@media (max-width: $tablet-width - 1px) {
	.contacts__wrapper {
		padding: 70px 0 60px 0;

		h2 {
			font-size: 32px;
			line-height: 32px;
			margin-bottom: 33px;
		}
	}

	.contacts__list {
		flex-direction: column;

		&::before {
			content: none;
		}

		li {
			padding: 0;
			margin-bottom: 19px;

			&:nth-child(odd),
			&:nth-child(even) {
				padding: 0;
				width: 100%;
			}

			&:last-child {
				order: 1;
			}

			&:nth-child(2) {
				order: 1;
				margin-bottom: 15px;
			}

			&:nth-last-child(2) {
				margin-bottom: 17px;
			}
		}

		h3 {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 8px;
		}
	}
}