.contacts {
	width: 50%;
	background-color: $color-default-white;
}

.contacts__wrapper {
	padding: 61px 56px 64px 120px;
}

.contacts__title {
	font-family: 'Bebas Neue';
	font-size: 49px;
	line-height: 64px;
	letter-spacing: 0.03em;
	color: $color-sapphire;
	margin: 0;
	margin-bottom: 35px;
}

.contacts__list {
	@include reset-list;
	margin-left: 4px;
	display: flex;
	flex-wrap: wrap;
	position: relative;

	&::before {
		content: '';
		width: 1px;
		height: 100%;
		background-color: $color-light-slate-grey;
		position: absolute;
		top: 0;
		left: 57.5%;
	}
}

.contacts__item {
	color: $color-sapphire;
	margin-bottom: 19px;

	&:nth-child(odd) {
		width: 57.92%;
		padding-right: 60px;
		// border-right: 1px solid $color-light-slate-grey;
	}

	&:nth-child(even) {
		width: calc(100% - 57.92%);
		padding-left: 60px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&:nth-last-child(2) {
		margin-bottom: 0;
	}
}

.contacts__item-type {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	margin-bottom: 2px;
}

.contacts__item-text {
	font-size: 14px;
	line-height: 21px;
	color: inherit;
	margin: 0;

	&--number,
	&--mail {
		user-select: none;
		
		&:hover {
    	color: lighten($color-sapphire, 25);
  	}

  	&:focus,
  	&:active {
  	  color: lighten($color-sapphire, 35);
  	}
	}
}

@media (max-width: $desktop-width - 1px) {
	.contacts {
		width: auto;
	}

	.contacts__wrapper {
		padding: 70px 118px 60px 88px;
	}

	.contacts__title {
		font-size: 42px;
		line-height: 42px;
		margin-bottom: 31px;
	}

	.contacts__list {
		margin: 0;
		&::before {
			left: 56.4%;
			top: 50%;
			transform: translateY(-50%);
			height: calc(100% - 17px);
		}
	}

	.contacts__item {
		margin-bottom: 24px;

		&:nth-child(odd) {
			padding-right: 40px;
			width: 56.5%;
		}

		&:nth-child(even) {
			padding-left: 48px;
			width: calc(100% - 56.5%);
		}
	}

	.contacts__item-type {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 4px;
	}

	.contacts__item-text {
		font-size: 18px;
		line-height: 152.34%;
	}
}