.footer {
	background-color: $color-black-russian;
}

.footer__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 44px;
	padding-bottom: 44px;
}

.footer__link {
	&:hover {
		opacity: 0.8;
	}

	&:focus,
	&:active {
		opacity: 0.6;
	}
}

.footer__social {
	display: flex;
}

@media (max-width: $desktop-width - 1px) {
	.footer__wrapper {
		padding-top: 45px;
		padding-bottom: 45px;
		padding-right: 39px;
	}

	.footer__link {
		svg {
			width: 82px;
    	height: 18px;
		}
	}
}