.footer {
	background-color: $color-black-russian;
}

.footer__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 42px;
  padding-bottom: 27px;
}

.footer__link {
	&:hover {
		opacity: 0.8;
	}

	&:focus,
	&:active {
		opacity: 0.6;
	}
}

.footer__social {
	display: flex;
}

@media (max-width: $desktop-width - 1px) {
	.footer__wrapper {
		padding-top: 47px;
		padding-bottom: 32px;
		padding-right: 39px;
		align-items: flex-start;
	}

	.footer__link {
		svg {
			width: 82px;
    	height: 18px;
		}
	}
}

@media (max-width: $tablet-width - 1px) {
	.footer__wrapper {
		padding: 50px 15px 41px;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: auto;
		grid-template-areas: 
			'logo logo'
			'navigation navigation'
			'navigation navigation'
			'social social';
	}

	.footer__link {
		grid-area: logo;

		svg {
			width: 68px;
			height: 15px;
		}
	}

	.footer__social {
		flex-wrap: wrap;
		grid-area: social;
		margin-top: 36px;
	}
}