.header {
	background: $header-gradient;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 47px;
}

.header__top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	margin-bottom: 1px;
}

.header__link {
	cursor: auto;
}

.header__number {
	font-family: "Bebas Neue";
	font-size: 26px;
	line-height: 26px;
	letter-spacing: 0.03em;
	color: $color-default-white;
	user-select: none;

	&:hover {
		color: darken($color-default-white, 15);
	}

	&:focus,
	&:active {
		color: darken($color-default-white, 25);
	}
}

.header__content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	width: 34%;
	margin-top: 94px;
	position: relative;
}

.header__buy {
	width: auto;
}

.header__title-group {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.header__title {
	order: 1;
	font-family: 'Bebas Neue';
	font-weight: 700;
	font-size: 109px;
	line-height: 109px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: $color-default-white;
	margin: 0;
	margin-bottom: 55px;
}

.header__subtitle {
	font-family: 'Bebas Neue';
	font-weight: 400;
	font-size: 49px;
	line-height: 59px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: $color-default-white;
	margin: 0;
	margin-bottom: 10px;
}

.header__list {
	@include reset-list;
	min-width: 113px;
	position: absolute;
	right: 263px;
  bottom: 192px;
}

.header__item {
	font-size: 14px;
	line-height: 21px;
	color: $color-default-white;
}

.header__index-column {
	display: flex;
	justify-content: space-between;
	width: 60.3%;
	margin-left: 5.6%;
	max-width: 700px;
}

.header__picture {
	margin-top: -6px;
}

.header__social {
	align-self: flex-end;
}

@media (max-width: $desktop-width - 1) {
	.header {
		background: conic-gradient(from 139.4deg at 20.7% 35.74%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
	}

	.header__wrapper {
		padding-bottom: 78px;
	}

	.header__top {
		padding-top: 40px;
		margin-bottom: 25px;
	}

	.header__link {
		svg {
			width: 82px;
			height: 17px;
		}
	}

	.header__number {
		font-size: 24px;
		line-height: 24px;
		letter-spacing: 0.02em;
	}

	.header__content {
		margin-top: 35px;
		margin-right: 15px;
    width: calc(50% - 15px);
	}

	.header__list {
		right: 211px;
    bottom: 146px;
	}

	.header__subtitle {
		font-size: 34px;
		line-height: 41px;
		margin: 0;
	}

	.header__title {
		font-size: 86px;
		line-height: 86px;
		margin-bottom: 42px;
	}

	.header__item {
		font-size: 14px;
		line-height: 21px;
	}

	.header__image {
		width: 324px;
		height: 390px;
	}

	.header__index-column {
		width: auto;
		max-width: 100%;
		margin: 0 0 0 auto;
	}

	.header__buy {
		min-width: 183px;
		display: inline-block;
		padding: 18px;
	}

	.header__social {
		display: none;
	}
}

@media (max-width: 559px) {
	.header__title {
		width: 213px;
	}
}

@media (max-width: $tablet-width - 1px) {
	.header {
		background: conic-gradient(from 171.43deg at 35.31% 34.22%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
	}

	.header__wrapper {
		padding-bottom: 77px;
		padding-left: 13px;
		padding-right: 13px;
	}

	.header__top {
		padding-top: 20px;
		margin-bottom: 70px;
	}

	.header__link {
		margin-left: 2px;
		svg {
			width: 68px;
			height: 15px;
		}
	}

	.header__number {
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0.02em;
		margin-right: 3px;
	}

	.header__content {
		margin: 0 auto;
		width: 100%;
		max-width: 600px;
	}

	.header__title-group {
		margin: 0;
	}

	.header__subtitle {
		font-size: 28px;
		line-height: 34px;
		margin-bottom: 8px;
	}

	.header__title {
		font-size: 78px;
		line-height: 78px;
		width: 100%;
	}

	.header__list {
		left: 0;
		right: auto;
    bottom: 118px;
	}

	.header__index-column {
		display: none;
	}

	.header__buy {
		width: 100%;
		padding: 21px;
	}
}