.navigation {
	margin-left: 8px;
	max-width: 540px;
}

.navigation__list {
	@include reset-list;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.navigation__item {
	margin-right: 40px;
	margin-bottom: 20px;

	&:first-child {
		display: none;
	}

	&:last-child {
		margin-right: 0;
	}
}

.navigation__link {
	font-size: 14px;
	line-height: 16px;
	color: $color-default-white;
	user-select: none;

	&:hover {
    color: darken($color-default-white, 15);
  }

  &:focus,
  &:active {
    color: darken($color-default-white, 25);
  }
}

@media (max-width: $desktop-width - 1px) {
	.navigation {
		max-width: 390px;
	}

	.navigation__item {
		margin-right: 30px;
	}
}

@media (max-width: $tablet-width - 1px) {
	.navigation {
		margin: 0;
		grid-area: navigation;
	}

	.navigation__list {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: auto;
		grid-column-gap: 15px;
    grid-row-gap: 21px;
		grid-template-areas:
			'. stocks'
			'services coaches'
			'subscriptions schedule';
		 grid-auto-flow: row; 
		margin-top: -21px;
	}

	.navigation__item {
		margin: 0;
		grid-area: auto;

		&--stocks {
			grid-area: stocks;
		}

		&--services {
			grid-area: services;
		}

		&--coaches {
			grid-area: coaches;
		}

		&--subscriptions {
			grid-area: subscriptions;
		}

		&--schedule {
			grid-area: schedule;
		}

		&:first-child {
			display: block;
		}
	}

	.navigation__link {
		font-size: 16px;
		line-height: 19px;
	}
}