.represent__wrapper {
	padding-top: 120px;
	padding-bottom: 235px;
	padding-left: 163px;
	display: flex;
}

.represent__content {
	color: $color-sapphire;
	max-width: 355px;
	margin-right: 85px;
	padding-top: 48px;
}

.represent__title {
	font-family: 'Bebas Neue';
	font-size: 49px;
	line-height: 49px;
	letter-spacing: 0.03em;
	margin: 0;
	margin-bottom: 8px;
}

.represent__subtitle {
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 40px;
}

.represent__text {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	margin: 0;
	margin-bottom: 8px;
}

.represent__visual {
	position: relative;

	figure {
		margin: 0;
		user-select: none;
	}
}

.represent__video {
	position: absolute;
	left: -63px;
	bottom: -111px;
	user-select: none;
}

.represent__video-link {
	display: block;
	position: relative;

	&::before {
		content: '';
		width: 364px;
		height: 228px;
		background: rgba(20, 54, 122, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.represent__video-picture {
	display: flex;
	z-index: 0;
}

/*
.represent__video-play {
	padding: 0;
	background-color: $color-transparent;
	border: none;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 64px;
  right: 132px;
}
*/

.represent__video-play {
	padding: 0;
	background-color: $color-transparent;
	border: none;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}

@media (max-width: $desktop-width - 1px) {
	.represent__wrapper {
		padding-top: 97px;
		padding-bottom: 183px;
		flex-direction: column;
	}

	.represent__content {
		padding: 0;
		margin: 0;
		max-width: 100%;
		text-align: center;
	}

	.represent__title {
		font-size: 42px;
		line-height: 42px;
		margin-bottom: 10px;
	}

	.represent__subtitle {
		margin-bottom: 34px;
	}

	.represent__text {
		padding: 0 88px;
		margin-bottom: 43px;

		&:last-of-type {
			display: none;
		}
	}

	.represent__picture {
		display: flex;
	}

	.represent__image {
		width: 100%;
		height: auto;
	}

	.represent__video {
		left: 50%;
    transform: translateX(-50%);
    bottom: -83px;
	}

	.represent__video-link {
		&::before {
			width: 266px;
			height: 167px;
		}

		&::after {
			width: 73px;
			height: 73px;
			background-size: 73px, 73px;
		}
	}

	.represent__action {
		width: 266px;
		height: 167px;
	}

	.represent__video-icon {
		width: 73px;
		height: 73px;
	}
}

@media (max-width: $tablet-width - 1px) {
	.represent__wrapper {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.represent__content {
		text-align: left;
	}

	.represent__title {
		font-size: 32px;
		line-height: 32px;
		margin-bottom: 5px;
	}

	.represent__subtitle {
		margin-bottom: 24px;
	}

	.represent__text {
		padding: 0;
		padding-right: 30px;
		margin-bottom: 33px;
	}

	.represent__visual {
		width: 100vw;
		left: 50%;
		transform: translateX(-50%);

		figure {
			margin-bottom: 40px;
		}
	}

	.represent__video {
		position: relative;
		width: 100%;
		transform: none;
		left: auto;
		bottom: auto;
	}

	.represent__video-link {
		&::before {
			width: inherit;
			height: inherit;
		}
	}

	.represent__action {
		width: 100%;
		height: auto;
	}
}