.social {
	@include reset-list;
	user-select: none;

	&--vertical {
		margin-bottom: 45px;

		.social__item {
			margin-bottom: 18px;
			display: flex;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.social__link {
			display: flex;
			justify-content: center;
			width: 14px;
			font-size: 12px;
			line-height: 14px;
			color: $color-default-white;

			&:hover {
				color: darken($color-default-white, 15);
			}

			&:focus,
			&:active {
				color: darken($color-default-white, 25);
			}
		}
	}

	&--horizontal {
		.social__item {
			margin-right: 11px;

			&:last-child {
				margin-right: 0;
			}
		}

		.social__link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: $color-default-white;

			&:hover {
				background-color: darken($color-default-white, 15);
			}

			&:focus,
			&:active {
				background-color: darken($color-default-white, 25);
			}
		}
	}
}

@media (max-width: $tablet-width - 1px) {
	.social {
		&--horizontal {
			.social__item {
				margin-bottom: 11px;
			}
		}
	}
}