.stock__wrapper {
	padding-top: 117px;
	padding-bottom: 120px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.stock__title {
	width: 100%;
	font-family: 'Bebas Neue';
	font-size: 49px;
	line-height: 49px;
	letter-spacing: 0.03em;
	color: $color-sapphire;
	text-align: center;
	margin: 0;
	margin-bottom: 52px;
}

.stock__picture {
	width: 50%;
	background-color: $color-royal-blue;
  display: flex;
}

.stock__list {
	@include reset-list;
	display: flex;
	flex-direction: column;
	width: calc(100% / 2 - 20px);
}

.stock__item {
	min-height: 211px;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	padding: 20px 30px 30px 28px;
	border: 7px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom,#d10a42,#00359f);

	&:last-child {
		margin-bottom: 0;
	}
}

.stock__item-title {
	font-size: 26px;
	margin: 0;
	margin-bottom: 7px;
}

.stock__item-text {
	font-size: 16px;
	line-height: 140%;
	color: $color-resolution-blue;
	margin: 0;
	margin-bottom: 5px;

	&:last-of-type {
		margin-bottom: 20px;
	}
}

.stock__item-more {
	margin-top: auto;
}