.subscriptions {
	background-color: $color-ghost-white;
	position: relative;
	overflow-x: clip;

	&::after {
		content: '';
		width: 384px;
		height: 384px;
		background-image:
			image-set(// '../img/desktop/subscriptions-background.png' 1x,
				'../img/desktop/subscriptions-background.webp' 1x,
				// '../img/desktop/subscriptions-background@2x.png' 2x,
				'../img/desktop/subscriptions-background@2x.webp' 2x,
			);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: auto, auto;
		position: absolute;
		right: -140px;
    bottom: -95px;
    z-index: 2;
	}
}

.subscriptions__wrapper {
	padding-top: 114px;
	padding-bottom: 80px;
	display: flex;
	flex-direction: column;
}

.subscriptions__title {
	font-family: 'Bebas Neue';
	font-size: 49px;
	line-height: 49px;
	letter-spacing: 0.03em;
	color: $color-sapphire;
	margin: 0;
	margin-bottom: 26px;
	text-align: center;
}

.subscriptions__slider {
	@include reset-list;
	width: max-content;
	display: flex;
	align-self: center;
	margin-bottom: 38px;
	position: relative;

	&::after {
		content: '';
		width: 100%;
		height: 2px;
		background-color: rgba(120, 120, 120, 0.2);
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.subscriptions__slide {
	margin-right: 46px;

	&:last-child {
		margin-right: 0;
	}
}

.subscriptions__control {
	font-family: inherit;
	font-size: 20px;
	line-height: 30px;
	color: $color-sapphire-transparent;
	background-color: $color-transparent;
	border: none;
	border-bottom: 2px solid $color-transparent;
	padding: 10px 0;
	cursor: pointer;
	user-select: none;

	&--current {
		border-bottom: 2px solid $color-crimson;
		color: $color-sapphire;
	}

	&:hover {
		border-bottom: 2px solid $color-crimson;
		color: $color-sapphire;
	}

	&:focus,
	&:active {
		border-bottom: 2px solid $color-crimson;
		color: $color-sapphire;
	}
}

.subscriptions__cards {
	@include reset-list;
	z-index: 5;
}

.subscriptions__card {
	display: none;

	&--visible {
		display: block;
	}
}

.subscriptions__list {
	@include reset-list;
	display: flex;
	flex-wrap: wrap;
	align-self: center;
}

.subscriptions__item {
	width: 360px;
	padding: 50px 70px 61px 70px;
	margin-right: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 7px solid $color-transparent;
	background-color: $color-default-white;
	cursor: pointer;
	position: relative;
	user-select: none;

	&:hover {
		border: 7px solid;
		border-image-slice: 1;
  	border-image-source: linear-gradient(to right bottom, #D10A42, #00359F);
	}

	&:active,
	&:focus {
		border: 7px solid;
		border-image-slice: 1;
  	border-image-source: linear-gradient(to right bottom, #D10A42, #00359F);
	}

	&--current {
		border: 7px solid;
		border-image-slice: 1;
  	border-image-source: linear-gradient(to right bottom, #D10A42, #00359F);
	}

	&:nth-child(3n) {
		margin-right: 0;
	}

}

.subscriptions__item-title {
	font-weight: 700;
	font-size: 26px;
	line-height: 40px;
	color: $color-sapphire;
	margin: 0;
	margin-bottom: 6px;
}

.subscriptions__item-additional-information {
	color: $color-chambray;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	margin-bottom: 72px;
}

.subscriptions__item-price {
	color: $color-egyptian-blue;
	font-weight: 700;
	font-size: 60px;
	margin: 0;
	margin-bottom: 45px;
	z-index: 1;
}

.subscriptions__item-shadow {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 100px;
	line-height: 100px;
	margin: 0;
	color: $color-whisper;
	position: absolute;
	top: 155px;
  left: 70px;
	z-index: 0;
}

.subscriptions__item-symbol {
	color: $color-sapphire;
	margin-left: 14px;
}

@media (max-width: $desktop-width - 1px) {
	.subscriptions {
		&::after {
			width: 345px;
			height: 345px;
			background-image:
			image-set(// '../img/tablet/subscriptions-background.png' 1x,
				'../img/tablet/subscriptions-background.webp' 1x,
				// '../img/tablet/subscriptions-background@2x.png' 2x,
				'../img/tablet/subscriptions-background@2x.webp' 2x,
			);
			right: 1px;
    	bottom: -75px;
		}
	}

	.subscriptions__wrapper {
		padding-top: 100px;
		padding-bottom: 62px;
	}

	.subscriptions__title {
		font-size: 42px;
		line-height: 42px;
		margin-bottom: 18px;
	}

	.subscriptions__slider {
		margin-bottom: 45px;
	}

	.subscriptions__slide {
		margin-right: 54px;
	}

	.subscriptions__control {
		font-size: 18px;
		line-height: 27px;
		padding: 11px 0;
	}

	.subscriptions__list {
		justify-content: center;
	}

	.subscriptions__item {
		width: 442px;
		margin-right: 0;
		padding: 55px 110px 60px;
	}

	.subscriptions__item-title {
		line-height: 29px;
		margin-bottom: 10px;
	}

	.subscriptions__item-additional-information {
		margin-bottom: 74px;
	}

	.subscriptions__item-shadow {
		top: 155px;
    left: 112px;
	}
}

@media (min-width: 973px) and (max-width: 1199px) {
	.subscriptions__list {
		display: grid;
	}
}

@media (max-width: $tablet-width - 1px) {
	.subscriptions {
		&::after {
			content: none;
		}
	}

	.subscriptions__wrapper {
		padding-top: 70px;
		padding-bottom: 36px;
	}

	.subscriptions__title {
		font-size: 32px;
		line-height: 32px;
		margin-bottom: 10px;
	}

	.subscriptions__slider {
		margin-bottom: 32px;
	}

	.subscriptions__slide {
		margin-right: 45px;

		&:first-child {
			margin-right: 40px;

			.subscriptions__control {
				padding: 12px 7px 12px 0;
			}
		}
	}

	.subscriptions__control {
		font-size: 16px;
		line-height: 24px;
		padding: 12px 0;
	}

	.subscriptions__item {
		padding: 45px 34px;
		margin-bottom: 37px;
	}

	.subscriptions__item-title {
		font-size: 22px;
		line-height: 110.16%;
	}

	.subscriptions__item-additional-information {
		margin-bottom: 53px;
		margin-left: 5px;
	}

	.subscriptions__item-price {
		font-size: 48px;
		line-height: 72px;
		margin-bottom: 30px;
	}

	.subscriptions__item-shadow {
		font-size: 80px;
		line-height: 120px;
		top: 110px;
		left: 50%;
		transform: translateX(-50%);
	}

	.subscriptions__button {
		padding: 24px;
	}
}